fastapi==0.115.6
uvicorn[standard]==0.34.0
apscheduler==3.11.0
pydantic==2.10.4
pydantic-settings==2.7.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
pandas==2.2.3
pandas-ta==0.3.14b0
yfinance==0.2.51
pytest==8.3.4
python-dotenv==1.0.1
neo_api_client @ git+https://github.com/Kotak-Neo/kotak-neo-api.git#egg=neo_api_client
